In [1]:
import numpy as np
import sklearn as skl
import pandas as pd

In [6]:
features = pd.read_json('./data/deezer_europe/deezer_europe_features.json', typ='series')

In [13]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
user_features = mlb.fit_transform(features)
user_features

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [15]:
target = pd.read_csv('./data/deezer_europe/deezer_europe_target.csv', index_col='id')
target

       target
id
0           0
1           0
2           0
3           1
4           0
...       ...
28276       0
28277       1
28278       0
28279       1
28280       1

[28281 rows x 1 columns]

In [17]:
target.sum()

target    12538
dtype: int64

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(user_features, target)

In [19]:
model = LogisticRegression(penalty='l2')
model.fit(X_train, y_train)

/Users/who/programming/kopyl2024/venv/lib/python3.11/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, model.predict(X_test))